Repository Azure/arc_jumpstart_docs, pull requests merged in 2024-10, with the labels that each got.

#422 ACSA Docs update
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/01.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/02.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/03.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/04.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/05.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/06.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/07.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/08.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/09.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/10.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/11.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/12.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/13.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/14.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/15.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/16.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/17.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/18.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/19.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/20.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/21.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/22.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/23.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/24.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/25.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/26.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/27.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/28.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/29.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/_index.md
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/01.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/02.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/03.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/04.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/05.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/07.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/08.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/09.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/10.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/11.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/21.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/22.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/23.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/24.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/26.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/27.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/29.png
Labels: review

#425 ESA to ACSA migration
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/01.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/02.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/03.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/04.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/05.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/06.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/07.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/08.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/09.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/10.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/11.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/12.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/13.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/14.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/15.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/16.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/17.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/18.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/19.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/20.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/21.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/22.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/23.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/24.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/25.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/26.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/27.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/28.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/29.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_acsa/_index.md
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/01.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/02.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/03.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/04.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/05.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/07.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/08.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/09.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/10.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/11.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/21.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/22.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/23.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/24.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/26.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/27.png
  docs/azure_arc_jumpstart/azure_edge_iot_ops/aks_edge_essentials_single_esa/29.png
  docs/azure_jumpstart_hcibox/getting_started/_index.md
  docs/release_notes/_index.md
Labels: documentation, aks_arc, arc_app_svc

#426 H2 heading updates and language cleanup on various docs, mostly on getting started
  docs/azure_jumpstart_hcibox/RB/_index.md
  docs/azure_jumpstart_hcibox/cloud_deployment/_index.md
  docs/azure_jumpstart_hcibox/deployment_azd/_index.md
  docs/azure_jumpstart_hcibox/getting_started/_index.md
  docs/azure_jumpstart_hcibox/using_hcibox/_index.md
Labels: documentation, HCIBox

#423 Resolving issue #2566
  docs/azure_jumpstart_hcibox/AKS/_index.md
  docs/azure_jumpstart_hcibox/cloud_deployment/_index.md
  docs/azure_jumpstart_hcibox/deployment_az/_index.md
Labels: documentation, review
